/* The die is a large, rounded button */

.die {
  color: rgb(255, 237, 163);
  background-color: rgb(0, 82, 105);
  width: 100px;
  height: 100px;
  border-radius: 25%;
  position: relative;
  margin: 5px;
}

/* Add a sexy outline when we hover over a button */

.die:hover {
  outline: solid;
  outline-color: rgb(255, 237, 163);
}

/* Show the # of sides of a die at the top left */

.die i {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Show die results large in the center */

.die b {
  font-size: 40px;
}
